@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.principal {
  border: 2px solid #2B4BEB;
  border-radius: 15px;
  background-color: #fff;
}

.dolar {
  border: 2px transparent;
  border-radius: 10px;
  background-color: #85BB65;
}


.dolar li{
  background-color: #85BB65;
  color: #fff;
  border: none;
  font-weight: medium;
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
}

.dolar li:hover{
  color: #111;

}

.height{
  min-height: 58vh;
}

.principal p {
  text-align: justify;
  text-justify: auto;
}

.header {
  background-color: #2B4BEB;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}

.header a:link {
  color: #fff;

}

.header a:visited {
  color: #fff;
}

.header a:hover {
  color: #2B4BEB;
  background-color: #fff;
  border-radius: 10px;
}

.titulos, .subtitulos {
  font-weight: bold;
  font-size: 1.5rem;
}
.main {
  border: 2px solid;
  background-color: #fff;
}

.subtitulos {
  font-size: 1.2rem;
}

/*.list {
  color: #2B4BEB;
  font-weight: bold;
  border: none;
}

.list :hover {
  color: #111;
}*/
.swal {
  width: 100%;
}

.btnModified {
  background-color: #2B4BEB;
  color: #fff;
  font-weight: bold;
}

.assets-img {
  max-width: 99%;
}

